.page-container {
    margin: 40px;
}

@media only screen and (min-width: 768px) {
    .page-container {
      margin: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .page-container {
      margin: 40px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .page-container {
      margin: 60px 160px;
    }
  }