.page-title {
    font-weight: bold;
}

.contact-text {
    margin: 30px auto;
    text-align: center;
}

.first-contact {
    border-bottom: 1px solid black;
}

form {
    max-width: 850px;
    text-align: center;
}

input, select, textarea, label {
    margin: 30px auto; 
    max-width: 100%;
    width: 90%;
    text-align: left;
}

.form-input {
    margin: 10px auto;
    border-top: none;
    border-left: none; 
    border-right: none;
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: larger;
}

label {
    margin: 15px 0 -15px;
    color: black;
    text-align: left;
}

#waiver-button {
    width: 400px;
}

.submit-button {
    border: 1px solid black;

    width: 250px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    margin: 45px auto;
    padding: 13px;
}

.submit-button:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  #cover-button {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 25px;
    line-height: 70px;
  }

@media only screen and (min-width: 768px) {

    #form-sec-one {
        border-right: 2px solid lightgray;
    }

    #waiver-button {
        width: 100px;
    }
}

@media only screen and (min-width: 576px) {
    .first-contact {
        border-bottom: none;
    }
}

@media only screen and (min-width: 576px) {
    .first-contact {
        border-bottom: none;
    }
}

