header {
  width: 100%;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.nav-item p {
  margin-bottom: 30px;
}

.nav-item {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: rgb(121, 121, 121);
}

.nav-item:hover {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.nav-overlay {
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  transition: 0.5s;
  height: 100%;
}
  
.overlay {
  top: 20px;
  right: 45px;
  font-size: 60px;
  z-index: 4;
}


.mobile-closed {
  display: none;
}

.mobile-open {
  display: block;

}

.nav-item-wrapper {
  height: 100%;

  width: 100%;
  position: fixed;
  background: white;
  z-index: 2;
}







.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 12px;
}

.change {
  z-index: 100;
  position: fixed;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: black;
}

.change .bar2 {
  opacity: 0;
  background-color: black;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: black;
}


@media only screen and (min-width: 768px) {
  .nav-item p {
    margin-bottom: 0px;
  }
  .nav-item {
    margin-bottom: 0px;
    margin-right: 25px;
  }

  .mobile-closed {
    display: block;
  }

  .nav-item-wrapper {
    position: inherit;
    width: auto;
  }

  .nav-item-container {
    display: flex;
  }
}